lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

.npmignore
build/jsforce-api-analytics.js
build/jsforce-api-analytics.js
build/jsforce-api-analytics.js
build/jsforce-api-analytics.min.js
*.map
*.map
build/jsforce-api-analytics.js
